{
    "CWBAPI": {
      "Key": "{CWAAPI_KEY}",
      "Endpoint": "https://opendata.cwb.gov.tw/fileapi/v1/opendataapi/{codeOfCountry}?Authorization={API_KEY}&format=JSON&elementName={dataType}"
    },
    "LineNotify": {
      "Token": "LINE_NOTIFY_TOKEN",
      "Endpoint": "https://notify-api.line.me/api/notify"
    }
}